@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.form {
  &--promesas {
    width: clamp(20rem, 45rem, 100%);

    @include mX(auto);
  }

  &__label {
    position: relative;
  }

  &__input {
    padding-left: 6rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $c-primary;

      letter-spacing: 0.2rem;
      text-transform: uppercase;

      font-weight: 200;
    }
  }

  &__img {
    position: absolute;
    left: 2rem;

    height: 2rem;
  }

  &__btn {
    letter-spacing: 0.3rem;
  }
}
