@use '../abstracts/mixins' as *;

.title {
  width: clamp(50%, 70rem, 90%);

  @include mX(auto);

  &--form {
    @include mX(unset);

    width: clamp(90%, 40rem, 100%);

    letter-spacing: 0.3rem;
  }

  &--felicidades {
    width: clamp(40%, 35rem, 90%);
  }
}
