@use '../abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;

  @include for-size('tablet-portrait-up') {
    font-size: 62.5%;
  }

  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
